<section class="hero">

    <div class="container hero-grid">

        <div class="hero-content">
             <h1> Industrial AI Knowledge Portal </h1>
             <h2> Dr. Junyang Zhou </h2>

             <p> Industrial AI • Vision Operating System • AI Agent • Industrial Vision •Embodied AI • Smart Manufacturing</p>
             <p> Researching Industrial AI, Vision Operating Systems, Industrial Vision, AI Agents, Embodied Intelligence, Computer Vision, CUDA Computing, and Intelligent Manufacturing.</p>

             <div class="hero-buttons">
                  <a href="/research/" class="btn">Research</a>
                  <a href="/docs/" class="btn">Documentation</a>
                  <a href="/projects/" class="btn">Projects</a>
                  <a href="/publications/" class="btn">Publications</a>
             </div>

        </div>

        <div class="hero-image">
             <img src="/images/jyzhou.jpg" alt="Dr. Junyang Zhou">
        </div>

    </div>

</section>
