<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}" dir="ltr">

<head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="author"  content="Dr. Junyang Zhou">
            <meta name="robots" content="index,follow,max-image-preview:large">
            <link rel="canonical"  href="{{ page.url | absolute_url }}">

            {% seo %}

            <link rel="stylesheet"  href="/css/jyzhou.css">

</head>

<body>

{{ content }}

</body>

</html>
